@using puntman.Models
@inherits LayoutComponentBase
@inject GuidViewModel guid

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <span>Guid: @guid.Guid.ToString()</span>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
